@model IEnumerable<JudoClubDB.Models.JudoInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>List of or club members</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeltRank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeltRank)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.MemberID }) |
                @Html.ActionLink("Details", "Details", new { id=item.MemberID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MemberID })
            </td>
        </tr>
}
    </tbody>
</table>
